absl-py==0.11.0
alabaster==0.7.12
asn1crypto==1.4.0
astroid==2.1.0
astropy==4.0
atomicwrites==1.2.1
attrs==18.2.0
azure-common==1.1.26
azure-core==1.12.0
azure-nspkg==2.0.0
azure-storage-blob==12.8.0
azure-storage-common==0.37.1
azure-storage-nspkg==3.1.0
Flask==1.1.2
pandas==1.1.3
pyarrow==3.0.0
snowflake-connector-python==2.4.1
hdbcli==2.5.101
xmltodict==0.12.0
requests==2.23.0
requests-oauthlib==1.3.0
SQLAlchemy==1.2.15
Flask-Cors==3.0.7
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
boto==2.49.0
boto3==1.9.253
botocore==1.12.253
